
<div class="homenav">
  <a routerLink="/logged">Home</a>
</div>

<ul id="list">
  <a class="newthing" routerLink="/add">Add New Recipe</a>
  <li *ngFor="let recipe of recipes">
    <div id="post">
      <li>Name:{{recipe.name}}</li>
      <li>Type: {{recipe.type}}</li>
      <li>Description: {{recipe.desc}}</li>
      <li>Time to Make: {{recipe.time}}</li>
      <li>Ingredients: {{recipe.ing}}</li>     
      <li>Tools You'll Need: {{recipe.toolsNeeded}}</li> 
      <li>Instructions: {{recipe.instructs}}</li>  
      
      <button (click)="deleteRecipe(recipe.id)"><h2>Delete Recipe</h2></button>
      <button><a [routerLink]="['edit', recipe.id]">Edit Recipe</a></button>
    </div>
  </li>

</ul>