
<div class="wrapper">
<div class="header"><h1>Cook Nook</h1></div>

<div class="homenav">
    <button><a routerLink="/logged">Home</a></button>
    <button><a routerLink="/about">About</a></button>
    <button><a routerLink="/home">Logout</a></button>
  </div>
  
<div>
  <h2>Welcome to Cook Nook!</h2>

  <h3>How to use this app:</h3>
  <ol>
    <li>First find your favorite recipes.</li>
    <li>Then press the Add Recipe button and fill the fields provided.</li>
    <li>Click save. Now your recipe is recorded on Cook Nook! You can edit, delete, and add more recipes if you wish!</li>
  </ol>
  <h3>Why we made this app:</h3>
  <div>Through many generations, cook books were passed
    down from parent to child. As time goes on, those cook 
    books begin to fall apart, and with internet being a common 
    luxury, it's often easy to forget those old recipes.
    Here at Cook Nook, we seek to preserve the recipes in a
    twenty first century way,
    ensuring that you never lose your family's scrumptous
    recipes that no internet guru could ever replace!</div>
</div>  
<h3>Why it's important:</h3>
<div>Food isn't just a requirement of living; it's our culture and family traditions.
   It's in our holidays and our birthdays, football games 
  and cook outs, weddings and anniversaries. Food is a large part of who we are, and
  brings families and friends together for every occasion, and can remind us of
  our memories made with each other.
<br>
We want to help preserve these slices of life with our online cook book, 
Cook Nook. 
  
</div>

<h3>Connect with us!</h3>
<button><a href="www.facebook.com">Facebook</a></button>


</div>