

<div class="About">
    <h3>Welcome to Cook Nook. The nifty app that helps you organize old recipes
        and record their step by step instructions for later use! Cookbooks fall apart
        after being handed down from generation to generation. Now you'll never lose  
        Grandma's famous Pecan Pie! 
        <br>
        <div class="signup">
        <form>
        <h2>Sign Up below or Login</h2><!--put link to login page here-->
            <label for="username">Username</label><input type="text" placeholder="Username"><br>
            <label for="password">Password</label><input type="password" placeholder="Password"><br>
            <br>
            <button>Submit</button><!--Links to the new Cook Nook Profile when Authorized-->
            <a routerLink="/login">Login</a><!--Will instead lead you to the login component-->
        </form>
        </div>
    