<h1>Cook Nook</h1>
<h2>The Online Cookbook!</h2>
<div class="nav"></div>

<div class="About">
    <h3>Welcome to Cook Nook. The nifty app that helps you organize old recipes
        and record their step by step instructions for later use! Cookbooks fall apart
        after being handed down from generation to generation. Now you'll never lose  
        Grandma's famous Pecan Pie! 
        <br>
        <div class="signup">
        <form>
        <h2>Sign Up below or <a routerLink="logged">Login</a></h2><!--put link to login page here-->
            <label for="username">Username</label><input type="text" placeholder="Username"><br>
            <label for="password">Password</label><input type="password" placeholder="Password"><br>
            <label for="email">Email</label><input type="email" placeholder="Email"><br>
            <button>Submit</button><!--Links to the new Cook Nook Profile when Authorized-->
        </form>
        </div>
    <h2>About Cook Nook</h2>
        Here we make it easy,
        with premade pages for your online cookbook needs:
            <ul>
                <li>Breakfast</li>
                <li>Lunch</li>
                <li>Dinner</li>
                <li>Dessert</li>
                <li>Beverages</li>
            </ul>
        How to use Cook Nook:
        <ul>
            <li>Step One: Record your recipe by clicking the (+) symbol on the page desired, and fill in 
                the form! Then click 'save'. You can edit, remove or add a new Recipe anytime.</li>
            <li>Step Two (Optional): Feel free to add a picture of the product if available. Only one photo is allowed on the Recipe card.</li>
            <li>Step Three: Click 'Get Cooking!' on the Recipe. This will lead you to the more detailed view of the Recipe, along with a (+) sign 
                underneath your Recipe. Here you can begin to add step by step instructions! </li>
            <li>Step Four: Once you click the (+) add instruction button, fill in the form, and click (save). You can edit, delete, and add new instructions anytime!</li>    
            <li> Step Five: Now you can repeat the above instructions for any Recipe you wish. When you want to Get Cooking, click the Get Cooking button on the Recipe 
        and review the step by step instructions you recorded! Now you have your Cookbook at your fingertips!</li>
       
        </ul>

        Have any Questions or Concerns? Contact us! <a href="https://www.google.com/">Email</a>
        <!--Will add these things if we figure them out
        Step Six: Share your Recipe with your friends anytime by clicking the Facebook button on the button right corner of the Recipe card!
        Also, if we figure out how to add pictures to each of the instructions we would add that to step four
        -->

    </h3>
</div>